on early-boot
    # Backlight devices
    chown system system /sys/class/backlight/backlight/brightness
    chown system system /sys/class/backlight/backlight/max_brightness

    chown system system /sys/class/backlight/panel0-backlight/brightness
    chown system system /sys/class/backlight/panel0-backlight/max_brightness

service vendor.light-default /vendor/bin/hw/android.hardware.light-service.mi89xx
    class hal
    user system
    group system
    shutdown critical
