# Set device properties
on init
    exec u:r:vendor_set_vendor_device_prop:s0 -- /system/bin/set_vendor_device_prop

# USB
on early-fs && property:ro.vendor.device.soc_family=msm8953
    setprop sys.usb.controller 7000000.usb
    setprop sys.usb.configfs 1
