# Set device properties
on init
    exec u:r:vendor_set_vendor_device_prop:s0 -- /system/bin/set_vendor_device_prop

# USB
on early-fs
    exec u:r:set_udc:s0 -- /system/bin/set_udc-recovery.sh
    setprop sys.usb.configfs 1
