import /vendor/etc/init/hw/init.common.usb.rc

# Mount
on fs
    # Mount everything that does not require fsck
    mount_all /vendor/etc/fstab.mi89xx --early

on late-fs
    # Mount RW partitions which need run fsck
    mount_all /vendor/etc/fstab.mi89xx --late

# Set device properties
service vendor.set_vendor_device_prop /vendor/bin/set_vendor_device_prop
    class early_hal
    group root
    user root
    oneshot

on property:ro.vendor.device.lcd_density=*
    setprop ro.sf.lcd_density ${ro.vendor.device.lcd_density}

on property:ro.sf.lcd_density=*
    restart surfaceflinger

# Suspend blocker
service suspend_blocker /vendor/bin/suspend_blocker
    class early_hal # Start together with system_suspend HAL
    group system
    user root

# USB
on property:ro.vendor.device.soc_family=msm8937
    setprop sys.usb.controller ci_hdrc.0
on property:ro.vendor.device.soc_family=msm8953
    setprop sys.usb.controller 7000000.usb
