import /vendor/etc/init/hw/init.common.usb.rc

# DLKM Loader
service vendor.dlkm_loader /vendor/bin/dlkm_loader
    class main
    user root
    group root system
    disabled
    oneshot

on early-init
    start vendor.dlkm_loader

# Graphics (Mesa)
on property:ro.vendor.graphics=mesa
    setprop ro.hardware.egl mesa
    setprop ro.hardware.vulkan freedreno
    setprop ro.opengles.version 196608

on property:ro.vendor.graphics=mesa_swrast
    setprop ro.hardware.egl mesa
    setprop ro.hardware.vulkan lvp
    setprop ro.opengles.version 196610
    setprop vendor.mesa.android.no.kms.swrast true
    setprop vendor.mesa.libgl.always.software true

# Graphics (Swiftshader)
on property:ro.vendor.graphics=swiftshader
    setprop ro.cpuvulkan.version 4202496
    setprop ro.hardware.egl angle
    setprop ro.hardware.vulkan pastel
    setprop ro.opengles.version 196609
    setprop vendor.minigbm.debug nocompression

# Mount
on fs
    # Mount everything that does not require fsck
    mount_all /vendor/etc/fstab.mi89xx --early

on late-fs
    # Mount RW partitions which need run fsck
    mount_all /vendor/etc/fstab.mi89xx --late

# Set device properties
service vendor.set_vendor_device_prop /vendor/bin/set_vendor_device_prop
    class early_hal
    group root
    user root
    oneshot

on property:ro.vendor.device.lcd_density=*
    setprop ro.sf.lcd_density ${ro.vendor.device.lcd_density}

on property:ro.sf.lcd_density=*
    restart surfaceflinger

# Suspend blocker
service suspend_blocker /vendor/bin/suspend_blocker
    class early_hal # Start together with system_suspend HAL
    group system
    user root
